<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>月统计</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">

    <style>
        .layui-input,.layui-btn{
            height:25px;
            line-height:25px;
            width:250px;
            display: inline;
        }
        .btn{
            background:#00837E;
            border-radius:2px;
            color:#fff;
            display:inline-block;
            text-align:center;
            text-decoration:none;
            height:28px;
            line-height:28px;
            margin-left:10px;
        }

        .btn1{
            width:65px;
        }

        .btn2{
            width:57px;
        }

        .btn:hover {
            background:#3AAB9C;
        }

        a{
            font-weight: bold;
            margin-right:15px;
        }
        .table_1{
            border-collapse: separate;
            border-spacing: 15px;
            margin-left: 50px;
        }
    </style>

</head>

<body>
<div style="margin-left: 20px;">

    统计月份：
    <div class="layui-input-inline">
        <input type="text" class="layui-input" id="date" placeholder="">
    </div>
    物料描述：<input class="layui-input" type="text" id="disc" />
    <a href="javascript:void(0);" class="btn btn2"  onclick="research();">查询</a>
    <a href="javascript:void(0);" class="btn btn2"  onclick="exportMonthList();">导出</a>
</div>

<div class="layui-form" style="margin:10px;">
    <table class="layui-table">
        <colgroup>
            <col width="20">
            <col width="400">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="400">
        </colgroup>
        <thead>
        <tr>
            <th></th>
            <th>物资描述</th>
            <th>上月库存结余</th>
            <th>月入库数</th>
            <th>月领用数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="datas">

        </tbody>
    </table>
</div>
<div style="float:right;">
    <div id="pageBar"></div>
</div>


<script src="layui/layui.js" charset="utf-8"></script>
<script src="js/jquery-3.4.1.min.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    //存放所有的数据，假分页用到
    var dataArr = new Array();
    var pageSize = 20;
    var total = 0;
    var begin = 0;

    var wz_name = '';//物资描述，提供给弹出页面使用

    var laypage;
    var laydate;

    //渲染文件上传组件
    layui.use(['laypage', 'layer','upload','laydate'], function(){
        var $ = layui.jquery;
        laypage = layui.laypage;
        laydate = layui.laydate;

        var date = formateDate("");

        laydate.render({
            elem: '#date'
            ,type: 'month'
            ,value:date
        });

        research();
    });

    //查询
    function research(){
        var date = $("#date").val();
        if(date==""){//初始化没有完成
            date = formateDate("");//默认本月
        }
        var disc = $("#disc").val();
        var lastMonth = formateDate_1(date);

        $.ajax({
            url: 'query/queryMonth',
            type:'post',
            data: {"date":date,"lastMonth":lastMonth,"desc_wz":disc},
            success: function(result){
                result = eval("("+result+")");
                dataArr = result.data;
                total = dataArr.length;
                //展示数据
                showData(1);
                //展示分页
                showPageBar();
            }
        });
    }

    //展示分页
    function showPageBar(){
        laypage.render({
            elem: 'pageBar'
            ,count: total //数据总数
            ,limit: pageSize //每页数据量
            ,jump: function(obj){
                //点击分页按钮
                showData(obj.curr);
            }
        });
    }

    //分页展示数据,page:当前页数
    function showData(page){
        begin = (page-1) * pageSize;
        var arr = dataArr.slice(begin,begin + pageSize);
        var html = "";
        $.each(arr,function(i,obj){
            var stock = obj.WZ_STOCK;
            if(typeof(stock)=='undefined'){
                stock = '-';
            }
            html += "<tr>";
            html += "<td>"+ (i+1) +"</td>";
            html += "<td>"+ obj.WZ_NAME +"</td>";
            html += "<td>"+ stock +"</td>";
            html += "<td>"+ obj.STORAGENUM +"</td>";
            var usecount = obj.USENUM;
            if(usecount<0){
                usecount = -usecount;
            }
            html += "<td>"+usecount+"</td>";
            var opt_1 = "<a href='javascript:void(0);' onclick='showstoragedetail(\""+obj.WZ_NAME+"\");'><img src='images/detail.png' />入库明细</a>";
            var opt_2 = "<a href='javascript:void(0);' onclick='showusedetail(\""+obj.WZ_NAME+"\");'><img src='images/detail.png' />领用明细</a>";
            html += "<td>"+opt_1 + opt_2+"</td>";
            html += "</tr>";
        });
        if(arr.length==0){
            html = "<tr><td colspan='6' align='center'>暂无数据</td></tr>";
        }
        $("#datas").html(html);
    }

    function showstoragedetail(name){
        wz_name = name;

        layer.open({
            type: 2,
            skin: 'layui-layer-demo', //样式类名
            title:'入库明细',
            closeBtn: 1,
            anim: 2,
            area: ['1400px', '650px'],
            shadeClose: false, //开启遮罩关闭
            // content: './showStorageDetail?desc_wz='+encodeURIComponent(encodeURIComponent(name))
            content: './showStorageDetail'
        });
    }

    function showusedetail(name){
        wz_name = name;

        layer.open({
            type: 2,
            skin: 'layui-layer-demo', //样式类名
            title:'领用明细',
            closeBtn: 1,
            anim: 2,
            area: ['1400px', '650px'],
            shadeClose: false, //开启遮罩关闭
            // content: './showUseDetail?desc_wz='+encodeURIComponent(encodeURIComponent(name))
            content: './showUseDetail'
        });
    }

    function formateDate(){
        //获取当前日期前n天的日期格式YYYY-MM-DD
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        // var currentdate = year + seperator1 + month + seperator1 + strDate;
        var currentdate = year + seperator1 + month;
        return currentdate;
    }

    function formateDate_1(time){
        //获取当前日期前n天的日期格式YYYY-MM-DD
        var date = new Date(time);
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth();
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if(month==0){
            month=12;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        // var currentdate = year + seperator1 + month + seperator1 + strDate;
        var currentdate = year + seperator1 + month;
        return currentdate;
    }

    function exportMonthList(){
        var date = $("#date").val();
        var disc = $("#disc").val();
        var lastMonth = formateDate_1(date);
        window.location.href = "download/downExcelMonth?date="+date+"&desc_wz="+disc+"&lastMonth="+lastMonth;
    }

</script>

</body>
</html>